
.graphic {
	/* width: 100%; */
	/* height: 100%; */
	aspect-ratio: 2 / 1;
}

/* ----- Sections -----*/

.section {
	background-color: var(--section-background);
	padding: var(--section-border-radius);
}

.section-title {
	font-size: 24px;
	text-transform: uppercase;
}

.section-text {
	font-size: 18px;
}

@media only screen and (max-width: 992px) {
	#sections {
		padding: 0 2%;
	}
	
	.section {
		margin-bottom: 2%;
	}

	.section.left {
		border-radius: var(--section-border-radius);
	}

	.section.right {
		border-radius: var(--section-border-radius);
	}
}

@media only screen and (min-width: 992px) {
	.section.left {
		border-top-right-radius: var(--section-border-radius);
		border-bottom-right-radius: var(--section-border-radius);
	}

	.section.right {
		border-top-left-radius: var(--section-border-radius);
		border-bottom-left-radius: var(--section-border-radius);
	}
}

.section-divider {
	position: relative;
	height: 3em;
}

/* ----- Three JS -----*/
.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

.view {
  margin: 0.2em;
  width: 400px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.text {
  line-height: 1em;
  text-align: left;
  font-size: 7em;
  word-break: break-word;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
