
.graphic {
	margin: 0;
	padding: 0;
	aspect-ratio: 2 / 1;
}

.graphic > div {
	width: 100%;
	height: 150%;
}

/* ----- Sections -----*/

.section {
	background-color: var(--section-background);
	padding: var(--section-border-radius);
}

.section-title {
	font-size: 24px;
	text-transform: uppercase;
}

.section-text {
	font-size: 18px;
}

@media only screen and (max-width: 992px) {
	#sections {
		padding: 0 2%;
	}
	
	.section {
		margin-bottom: 2%;
	}

	.section.left {
		border-radius: var(--section-border-radius);
	}

	.section.right {
		border-radius: var(--section-border-radius);
	}

	/* Decide on later if I this text to be centered on mobile */
	/* .section-title {
		text-align: center;
	}

	.section-text {
		text-align: center;
	} */
}

@media only screen and (min-width: 992px) {
	.section.left {
		border-top-right-radius: var(--section-border-radius);
		border-bottom-right-radius: var(--section-border-radius);
	}

	.section.right {
		border-top-left-radius: var(--section-border-radius);
		border-bottom-left-radius: var(--section-border-radius);
	}
}

.section-divider {
	position: relative;
	height: 3em;
}

/* ----- Three JS -----*/
.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}
